* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

:root {
  --primary: #FF0000;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: ##865C6C;
  --grayMedium: #000000; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #FFFFFF;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}