* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

:root {
  --primary: #865C6C;
  --black: #F1CDD7;
  --blackLighter: #9E9E9E;
  --grayLight: ##865C6C;
  --grayMedium: #865C6C; 
  --white: #865C6C;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #865C6C;
} 